<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>empliyee details</title>
</head>
<body>
<h2> Welcome To The Employees Detalis Form</h2>
<table border="40%">
    <tr>
        <th>add employee</th>
        <th> employee data</th>
        <th>updatedata employee</th>
        <th>deletedata employees</th>

    </tr>
    <tr>
        <td><a href="/emil" >click me</a></td>
        <td><a href="/empdata"> click me</a></td>
        <td><a href="/empdata"> click me</a></td>
        <td><a href="/empdata"> click me</a></td>

    </tr>
</table>

</body>
</html>